* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 300px;
}

.logo a {
  padding-left: 15px;
  text-decoration: none;
  color: white;
}

.links {
  display: flex;
  width: 600px;
  background-color: green;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.links li {
  padding: 10px;
  text-decoration: none;
}
